<layout>
    <div id="project-layout">
        <section id="project-sidebar-wrapper"  *as="projectSidebar" [class]="{opened: this.sidebarIsVisible}">
            <div id="project-sidebar">
                <project-sidebar [project]="this.project"></project-sidebar>
            </div>
            <fa icon="times close-sidebar-btn d-sm-none" 
                [class]="{'d-none': ! this.sidebarIsVisible, 'd-block': this.sidebarIsVisible}"
                2x
                (click)="this.sidebarIsVisible = ! this.sidebarIsVisible;"></fa>
        </section>
        <section id="project-container" [class]="{expanded: ! this.sidebarIsVisible}">
            <div *if="! this.project" class="m-t-5 text-center">
                <flk-spinner></flk-spinner>
            </div>
            <content *else></content>
        </section>
    </div>
</layout>