<layout>
    <div id="project-layout">
        <section *if="this.project" id="project-sidebar-wrapper" [class]="{opened: this.sidebarIsVisible}">
            <div id="project-sidebar">
                <project-sidebar [project]="this.project"></project-sidebar>
            </div>
            <fa icon="times close-sidebar-btn d-block d-sm-none" 2x (click)="this.sidebarIsVisible = ! this.sidebarIsVisible;"></fa>
        </section>
        <section id="project-container" [class]="{expanded: ! this.sidebarIsVisible}">
            <div *if="! this.project" class="m-t-5 text-center">
                <flk-spinner></flk-spinner>
            </div>
            <content *else></content>
        </section>
    </div>
</layout>