<layout>
    <h1>Writing notes</h1>
    <p class="m-v-1">So, here are some notes to take care of when you write an answer or an article in general.</p>
    <ol>
        <li>Capitalize the first letter of every new statement.</li>
        <li>Don't forget to use <strong>Punctuation</strong> in your article, like for example, adding <code>.</code> or <code>?</code> at the end of the sentence.</li>
        <li>When you write a code, put it inside a code block, and define what programming language your code is in if you're writing in 
            <a href="/academy/programming-basics">Programming Basics track</a> or any general track.
        </li>
        <li>Make your article simple, clear and well-organized.</li>
        <li>Put references at the end of your answer for more details.</li>
        <li><strong>Test</strong> any code you write before posting it.</li>
        <li>Double check your answer before submitting it.</li>
        <li>Search before answering even if you know the answer, you'll learn new things.</li>
        <li>Write with your own words based on your own understanding.</li>
        <li>When you read from external references, beside reading and understanding the content of the article, observe how they organize and write down the article to learn from it.</li>
    </ol>
</layout>