<project-layout *as="projectLayout"[project]="this.project" [is-loading]="this.isLoading">
    <button *if="this.project.isHigherAuthority || this.project.isTeamLeader" class="float-right btn btn-success bold"
        (click)="this.openModal('add')">
        <fa icon="plus mr-1"></fa>
        Module
    </button>
    <h1 class="m-y-1">
        {{ this.project.name }} Modules
        ({{ this.project.modules.length }})
    </h1>

    <table class="table table-striped buttoned">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parent</th>
                <th *if="this.project.isHigherAuthority">Control</th>
            </tr>
        </thead>
        <tbody>
            <tr *if="Is.empty(this.project.modules)">
                <td colspan="3" text-center>No Modules Yet</td>
            </tr>
            <tr *else *for="let record, index of this.project.modules">
                <td>
                    <a [href]="URLS.project(this.project, 'modules', record)" [html]="record.name"></a>
                </td>
                <td [html]="record.parent.name || 'N/a'"></td>
                <td *if="this.project.isHigherAuthority || this.project.isTeamLeader">
                    <button type="button" (click)="this.openModal('edit', record, index)" class="btn btn-cyan" tooltip
                        title="Edit Module">
                        <fa icon="edit"></fa>
                    </button>

                    <button type="button" (click)="this.confirmRemoving(record, index)" class="btn btn-danger" tooltip
                        title="Delete Module">
                        <fa icon="trash"></fa>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</project-layout>

<flk-modal *if="this.modalIsOpened" *as="modal" (close)="this.modalIsOpened = null" size="small"
    [heading]="this.modalHeading">
    <form (submit)="this.submit($el)">
        <input type="hidden" name="project" [value]="this.project.id" />
        <form-input type="text" name="name" [value]="this.record.name" label="Module Name" required
            class="form-control"></form-input>

        <flk-dropdown-list name="parent" [none]="true" label="Parent Module" [value]="this.record.parent?.id"
            [except]="this.record.id" [items]="this.project.modules"></flk-dropdown-list>

        <div class="m-t-1 text-center">
            <button [disabled]="! this.isValidForm || this.isSending" class="btn btn-success bold">Save</button>
        </div>
    </form>
</flk-modal>

<flk-alert *if="this.confirmDelete" (close)="this.confirmDelete = null" (confirm)="this.remove()">
</flk-alert>