#calendar-page {

    // Picasso is ready to draw :)
    .basic {
        color: #FFF;
        background: $pink-color;
    }

    .todo {
        color: #FFF;
        background: $green-color;
    }

    .task {
        color: #FFF;
        background: $cyan-color;
    }

}