<nav id="project-sidebar-nav">
    <h1 class="project-name" *if="this.projectDetails.name">
        <a [href]="this.projectDetails.projectUrl || '#'">
            <img *if="this.projectDetails.image" class="project-image" [src]="this.projectDetails.image"
                [alt]="this.projectDetails.name" />
            <span [html]="this.projectDetails.name"></span>
        </a>

        <div *if="! Is.empty(this.projectDetails.tags)" class="m-y-1 d-inline-block">
            <!-- <h4 class="bold m-t-2 m-b-1">Technologies and Techniques used in this project</h4> -->
            <span *for="let tag of this.projectDetails.tags" class="tag project-tag sidebar-tag" *key="tag.id" tooltip [title]="tag.name">
                <img [src]="tag.image" class="" [alt]="tag.name" />
                <!-- <span [html]="tag.name" class="name"></span> -->
            </span>
        </div>
    </h1>
    <div *if="this.projectDetails.name" class="pr-2">
        <input type="text" placeholder="Quick Filter" (input)="this.filter($el.value)" class="form-control" />
    </div>
    <ul *if="! Is.empty(this.projectDetails)">
        <for loop="let link of this.links">
            <li *if="link.isAuthorized()" [tooltip]="link.tooltip" [title]="link.tooltip">
                <a [href]="URLS.project(this.projectDetails, link.subRoute)" (click)="this.inputs.parent.closeSidebar()"
                    class="{{ link.className || '' }}" [class]="this.isActiveLink(link.subRoute)">
                    <fa *if="link.icon" [icon]="link.icon"></fa>
                    <fa *if="link.fab" [fab]="link.fab"></fa>
                    <span *if="link.text" [html]="link.text"></span>
                    <if condition="link.subRoute == 'bugs'">
                        <img [src]="assets('images/bug.jpg')" style="width: 20px; height: 30px; border-radius: 50%;" />
                        <!-- <span class="bold bug-s">s</span> -->
                        <span *if="Object.get(this.projectDetails, 'total.remaining.bugs.testing', 0) > 0" class="badge ml-2 badge-warning" tooltip title="Testing Bugs" [html]="Object.get(this.projectDetails, 'total.remaining.bugs.testing').format()"></span>
                        <span *if="Object.get(this.projectDetails, 'total.remaining.bugs.inProgress', 0) > 0" class="badge ml-2 badge-danger" tooltip title="Active Bugs" [html]="Object.get(this.projectDetails, 'total.remaining.bugs.inProgress').format()"></span>
                    </if>
                    <fa *if="( ! this.projectDetails.isMember && ! (this.projectDetails.is || {}).member) && link.subRoute != ''"
                        icon="lock ml-2 float-right mt-2" tooltip title="You're not a project member"></fa>
                </a>
            </li>
        </for>
    </ul>
</nav>