#project-sidebar-nav {    
    overflow: auto;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 50px;
    color: #2d3e50;

    ul {
        padding: 0;
        li {
            list-style: none;
            a {
                padding-top: 1rem;
                color: inherit;
                display: block;
                padding-bottom: 1rem;
                border-bottom: 1px solid #ccc;

                span {
                    padding-left: 0.5rem;
                }

                .fa {
                    vertical-align: middle;
                }

                &:hover,
                &.active {
                    color: $lime-color-dark;
                }
            }
        }
    }

    #srs-text {
        font-size: 1.0rem;
    }
}