<div *if="! Is.empty(this.userInfo)" class="avatar-wrapper {{ this.position == 'top' ? 'v-top' : '' }} {{ this.prop('size', '') }}" [data-name]="this.userInfo.name" tooltip
    [title]="(this.userInfo.username ? '[@' + this.userInfo.username + '] ' : '') + this.userInfo.name">
    <img *if="this.userInfo.image" [src]="this.userInfo.image" class="small mr-2 circle" [alt]="this.userInfo.name" />
    <span *else class="user-avatar-name" [style]="{background: this.userInfo.color}" [html]="this.initialsOnly"></span>
</div>