#notifications-list {
    @include responsive((0: (width: 100%,
                left: 0,
            ),
            768: (width: 42rem,
                left: 33rem,
                margin-left: auto,
            ),
            1024: (right: 5rem,
                width: 50rem,
                // margin-left: -29rem
            ),
        ));

    .flk-tabs-wrapper .flk-tabs {
        display: block !important;

        li {
            display: inline-block;
            position: relative;

            .badge {
                position: absolute;
                top: -0.5rem;
                left: 40%;
            }
        }
    }

    .with-status-list {
        .heading {
            border-radius: 50%;
            line-height: normal;
            padding: .1rem .5rem;
            margin-left: 0.5rem;
            font-size: 1rem;
            // font-weight: bold;
        }
    }

    .arrow-up {
        @include responsive((0: (left: 38%,
                ),
                375: (left: 40%,
                ),
                425: (left: 42%,
                ),
                768: (left: 59%,
                ),
                1024: (left: 52%,
                ),
            ));
    }

    .notification-text {
        display: inline-block;
        width: calc(100% - 100px);
        vertical-align: middle;
    }

    .image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .content {
        display: inline-block;
        width: calc(100% - 55px);
        vertical-align: middle;
        border: none;
    }

    .panel-item {
        position: relative;

        .remove-btn {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            .icon {
                color: #124a45;
            }
        }
    }

    .footer {
        text-align: right;
        margin-right: 1rem;
        border-top: 1px solid #eee;
        padding: 0.5rem;

        .remove-all-btn {
            font-weight: bold;
            color: rgb(172, 37, 37);

            .icon {
                color: inherit;
            }
        }
    }
}