<layout>
  <flk-spinner *if="this.isLoading"></flk-spinner>

  <div *else class="row">
    <section class="col-sm-9">
      <div class="d-flex">
        <img
          [src]="this.course.image"
          width="200px"
          height="200px"
          alt="The course intro"
        />
        <header class="course-intro">
          <section class="course-title d-flex align-items-start">
            <h1 class="d-inline-block ml-2">
              {{ this.course.title }}
            </h1>
            <a
              *if="this.course.createdBy.id === this.user.id"
              [href]="URLS.course(this.course, 'dashboard')"
              class="btn btn-dark btn-sm ml-3"
            >
              <fa icon="cog"></fa>
            </a>
          </section>
          <p
            *if="this.course.duration"
            class="ml-5 mt-3 badge badge-dark d-inline-block"
          >
            {{ this.course.duration.hours }} hours
            {{ this.course.duration.minutes }} minutes
          </p>

          <markdown
            *if="this.course.shortDescription"
            class="short-description mt-3 ml-3"
            [content]="this.course.shortDescription"
          >
          </markdown>
        </header>
      </div>

      <section class="course-prerequisites">
        <h2>Prerequisites</h2>
        <markdown
          *if="this.course.prerequisites"
          [content]="this.course.prerequisites"
          class="card p-3 mt-5"
        ></markdown>
      </section>

      <section class="course-description">
        <h2>Description</h2>
        <markdown
          *if="this.course.description"
          [content]="this.course.description"
          class="card p-3 mt-5"
        ></markdown>
      </section>

      <div class="simple-card pb-2 m-t-1">
        <flk-accordion
          *for="let section, index of this.course.sections"
          *key="section.id"
          [heading]="this.renderSectionTitle(section)"
        >
          <course-section-videos-list
            [is-viewer]="true"
            [videos]="section.videos"
          ></course-section-videos-list>
        </flk-accordion>
      </div>
    </section>
    <section class="col-3">
      <a href="/courses" class="btn btn-secondary"> Back to Courses list </a>
      <div class="card">
        <div class="card-body">
          <div class="card-title bold">Course summary</div>
          <div class="d-flex justify-content-between pt-4 pb-4">
            <span>
              <i class="ti ti-list"></i>
              {{ this.getTotalNumberOfCourseVideos() }}
            </span>
            <span title="Cost">
              <gold-icon [coins]="this.course.price"></gold-icon>
              <strong class="pink-text" *if="this.course.price == 0"
                >FREE!</strong
              >
            </span>
          </div>
          <div class="pt-4 pb-4">
            <p *if="this.course.level">
              <span class="font-weight-bold"> Level: </span>
              <i class="ti ti-list"></i>
              {{ " " + this.course.level.join(",") }}
            </p>
            <p title="Cost" *if="this.course.type">
              <span class="font-weight-bold"> Type: </span>
              {{ " " + this.course.type.join(",") }}
            </p>
          </div>

          <form (submit)="this.applyCoupon(this.couponCode)">
            <div class="input-group mb-3">
              <form-input
                type="text"
                placeholder="Coupon code"
                tooltip
                title="Enter your coupon and get a discount"
                name="code"
                [value]="this.couponCode"
                class="form-control p-1"
              ></form-input>
              <div class="input-group-append">
                <button class="btn btn-info coupon-apply-btn" type="submit">
                  <flk-spinner *if="this.isApplying"></flk-spinner>
                  <span *else>Apply</span>
                </button>
              </div>
            </div>
            <span *if="this.couponError" class="red-text d-block text-center">
              {{ this.couponError }}
            </span>
          </form>
          <flk-alert
            *if="this.confirmSubscribe"
            message="Are you sure you want to subscribe to '{{
              this.course.title
            }}'"
            (confirm)="this.subscribeToCourse()"
            (close)="this.confirmSubscribe = false"
          ></flk-alert>
          <div class="text-center">
            <button
              *if="!this.course.isSubscribed && !this.isSubscribing"
              class="btn btn-primary text-uppercase"
              (click)="this.confirmSubscribe = true"
              trans="subscribe"
            ></button>
            <flk-spinner *elseif="this.isSubscribing"></flk-spinner>
            <div *else class="text-center" title="subscribed">
              <fa icon="check subscribed-icon"></fa>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</layout>

<flk-message *if="this.errorMessage" (close)="this.errorMessage = null">
  {{ this.errorMessage }}
</flk-message>
