<if condition="this.user.accountType == 'admin'">
    <div class="text-center">
        <button type="button" (click)="this.openModal = true;" class="btn btn-sm bold btn-info">Assign
            moderator.</button>
    </div>
</if>

<flk-modal *if="this.openModal" id="moderators-modal" header="Manage moderators">
    <form>
        <input type="hidden" name="trackId" [value]="this.track.id" />
        <flk-dropdown-list [lazy-loading]="true" [multiple]="true" [service]="this.adminUsersService" name="moderators"></flk-dropdown-list>
        <div class="text-center">
            <button class="btn btn-success">Save</button>
        </div>
    </form>
</flk-modal>