<layout>
    <header>
        <h1> Create new challenge </h1>

        <p *if="this.error" class="alert alert-danger" [html]="this.error"></p>
    </header>

    <div class="container">
        <form (submit)="this.createChallenge($el)">
            <div class="form-group">
                <form-input type="text" name="title" required class="form-control" label="Challenge Title"
                    placeholder="e.g Challenge"></form-input>
            </div>

            <div class="form-group">
                <markdown-input name="quest" class="form-control" label="Quest Content" required
                    placeholder="Supports markdown"></markdown-input>
            </div>

            <div class="form-group">
                <flk-dropdown-list label="Level" position="top" required name="level" [items]="this.levelItems">
                </flk-dropdown-list>
            </div>

            <input type="submit" value="{{this.isSending ? 'Sending ...' : 'Create'}}" class="btn btn-primary">
        </form>
    </div>
</layout>