#project-wizard {
    // Picasso is ready to draw :)
    .flk-modal .modal_content, .form-control {
        background: none !important;
    }

    h1 {
        color: #FFF;
        text-align: center;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 4px #333;
    }

    .form-control {
        color: #FFF;
        text-shadow: 0px 0px 4px #333;  
    }
}