<section class="font-weight-normal">
    <h3 class="bold m-b-1 m-t-4">What you should know before getting started.</h3>

    <p><strong class="mr-2">Markdown</strong> syntax is your mate here, you should know how to write markdown syntax so your answers
        become more organized.</p>
    <p>
        <a class="bold teal-text m-r-1" target="_blank" href="https://guides.github.com/features/mastering-markdown/">Mastering
            markdown</a> is a great article to kick off with.
    </p>
    <p>
        Don't forget to read about <a href="/writing-notes" class="bold mx-2 teal-text">writing notes</a> before starting the quest.
    </p>
</section>