#project-meeting-details-page {
    // Picasso is ready to draw :)
    .heading {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc; 
    }

    .simple-card {
        padding: 1rem;
        box-shadow: 0 0px 2.5px rgba(0,0,0,0.13);
    }
}