<section class="font-weight-normal m-y-4">
    <h3 class="bold m-b-1">Why mentoor</h3>
    <p>Let's see what you will get from being a mentoor member.</p>
    <ul>
        <li>You'll learn <strong class="bold mx-2">from others.</strong></li>
        <li>You'll <strong class="bold mx-2">help others!</strong></li>
        <li>You'll learn how to <strong class="bold mx-2">search</strong>.</li>
        <li>You'll learn how to <strong class="bold mx-2">write</strong> code properly.</li>
        <li>You'll learn how to <strong class="bold mx-2">write</strong> English properly.</li>
        <li>You'll learn how to <strong class="bold mx-2">write documentation</strong> properly.</li>
        <li>You'll learn how to <strong class="bold mx-2 green-text">refactor</strong> your code properly.</li>
        <li>You'll learn how to <strong class="bold mx-2 green-text">enhance your search skills.</strong></li>
        <li>You'll learn how to <strong class="bold mx-2 green-text">be a teamwork player properly.</strong></li>
        <li>You'll learn how to <strong class="bold mx-2">organize</strong> your code properly.</li>
        <li>You'll learn how to <strong class="bold mx-2">share</strong> information with others.</li>
        <li>You'll learn <strong class="bold mx-2">new things</strong> that you don't even know it's existing!</li>
        <li>You'll <strong class="bold mx-2">get challenged</strong> with things you barely know how to use it!</li>
        <li>You'll <strong class="bold mx-2">be on a certain learning track</strong> thus you'll not get lost in the middle of the road!</li>
        <li>You'll <strong class="bold mx-2 blue-text">be guided</strong> by a mentoor who will review and refine your answers and code!</li>
        <li>You'll <strong class="bold mx-2 blue-text">earn real money and other cool rewards!</strong></li>
    </ul>
</section>