<section class="font-weight-normal">
    <h3 class="bold m-b-1 m-t-4">Where to start from</h3>
    <p>
        First and foremost, you should be dealing with 
        <a href="/academy/programming-basics" class="mx-2 bold">Programming Basics (PB)</a> track, either you're already familiar with programming basics or you're a fresh one.        
    </p>
    <p>But why should i start with it even if i already know the basics?</p>
    <p>Actually you'll get surprised that you really don't know it as you think!</p>
    <p>
        You'll read again about everything in that track with a good eye this time, but also you'll search in depth to see more details about it, why?....Because you'll write about it in details
        <strong class="mx-2 purple-text">using your own words and understanding of the topic</strong>    
        so you need to read with bigger focus this time.
    </p>
    <p>
        Also, you should be aware of the 
        <strong class="mx-2">Markdown syntax</strong> as was illustrated earlier, you'll need to know it because all of your answer must be written in that format.
    </p>
</section>