<project-layout [project]="this.project" [is-loading]="this.isLoading">
    <a [href]="URLS.project(this.project, 'user-stories') + '/new'" class="float-right btn btn-success bold" (click)="this.openModal('add', Object.clone(this.defaultSchema))">
        <fa icon="plus mr-1"></fa>
        User story
    </a>
    <h1 class="m-y-1 bold m-b-3">
        User stories
    </h1>

    <user-stories-board [user-stories]="this.userStories" (change)="this.userStories = e"  [project]="this.project"></user-stories-board>
</project-layout>