#project-discussion-details-page {
    // Picasso is ready to draw :)

    .status {
        float: right;
    }

    .title {
        .badge {
            margin-left: 1rem !important;
            padding-top: 1px;
            vertical-align: 5px;
            padding-bottom: 4px;
        }
    }
}

.testCase,
.bug, .discussion {
    .user-image {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 1rem;
        border: 1px solid #ccc;
        padding: 0.2rem;
        vertical-align: top;
    }

    .action-btns {
        button {
            color: #97b2bd;
            font-weight: bold;

            transition: all 0.4s ease-in-out;

            .icon {
                margin-right: 0.2rem;
            }

            &:hover {
                color: #5e808e;
            }
        }
    }

    .ago {
        color: gray;
        font-size: 1.2rem;
    }
}