<div class="dark">
    <div class="fb-page">
        <fa icon="facebook"></fa>
        <span class="">/mentoor.io</span>
    </div>

    <!-- <h1 class="text-center white-text">What I      s The Difference</h1> -->
    <h1 class="text-center white-text" id="main-text">
        <!-- <div id="top-logo" class="logo">
                <h1 class="m">M</h1>
                <h1 class="name inline">mentoor.io</h1>
            </div> -->
        <div id="what-is">
            <img [src]="'https://mentoor.io/public/mentoor/images/en.png'" style="width: 100px;" />
            <span style="margin-left: 3rem">
                Einstein Chamber
            </span>
        </div>
    </h1>
    <div class="m-t-1"></div>
    <h1 class="master">
        <img [src]="'https://restful.mentoor.io/api/images/cache/einstein-categories/YzdxHaert6Qo26AxPchJBideU8iCy7MHoMBhOHH0.png'"
            height="500px" />
        <div class="m-t-7">Filter Arrays</div>
    </h1>
    <!-- <h1 class="ar">ايه هو مبدأ</h1> -->

    <div class="overlay"></div>

    <h4 class="hashtag">
        <div>#mentoor_einstein_chamber</div>
    </h4>

    <div id="logo">
        <h1 id="m">M</h1>
        <h1 id="name" class="inline">mentoor.io</h1>
    </div>
</div>