<layout>
  <course-sidebar></course-sidebar>
  <section class="col-12 col-sm-9 col-lg-10 d-md-block offset-md-2 col-md-10">
    <flk-spinner *if="this.isLoading"></flk-spinner>

    <div *else>
      <course-video-form
        *if="this.newVideo"
        (close)="this.newVideo = false"
        (save)="this.currentSection.videos.push(e)"
        [course]="this.course"
        [section]="this.currentSection"
      ></course-video-form>

      <course-video-form
        *elseif="this.updateVideo"
        (close)="this.updateVideo = false"
        (save)="this.currentSection[index] = e"
        [video]="this.currentVideo"
        [course]="this.course"
        [section]="this.currentSection"
      ></course-video-form>

      <div class="d-flex">
        <h1 [html]="this.course.title"></h1>
        <section class="course-settings ml-3">
          <button
            class="btn btn-danger btn-sm"
            (click)="this.confirmCourseRemove = true"
          >
            <fa icon="trash"></fa>
          </button>
          <a
            class="btn btn-dark btn-sm"
            href="/courses/new?id={{ this.course.id }}"
          >
            <fa icon="edit"></fa>
          </a>
          <flk-alert
            *if="this.confirmCourseRemove"
            message="Are you sure you want to remove the course ?"
            (confirm)="this.removeCourse()"
            (close)="this.confirmCourseRemove = false"
          ></flk-alert>
        </section>
      </div>

      <div class="simple-card p-0 m-t-1">
        <course-sections *if="this.activeTab === 'sections'"></course-sections>
        <hr />
        <course-coupons *if="this.activeTab === 'coupons'"></course-coupons>
      </div>
    </div>
  </section>
</layout>

<course-section-form
  *if="this.newSection"
  (close)="this.newSection = false"
  (save)="this.course.sections.push(e)"
  [course]="this.course"
></course-section-form>

<course-section-form
  *if="this.editSection"
  (close)="this.editSection = false"
  (save)="this.course.sections[this.index] = e"
  [course]="this.course"
  [section]="this.currentSection"
>
</course-section-form>

<course-coupon-form
  *if="this.newCoupon"
  (close)="this.newCoupon = false"
  (save)="this.course.coupons.push(e)"
  [course]="this.course"
></course-coupon-form>

<course-coupon-form
  *elseif="this.updateCoupon"
  (close)="this.updateCoupon = false"
  (save)="this.currentCoupon[this.couponIndex] = e"
  [coupon]="this.currentCoupon"
  [course]="this.course"
></course-coupon-form>

<flk-alert
  *if="this.deleteSection"
  (close)="this.deleteSection = false"
  (confirm)="this.removeSection()"
></flk-alert>
