<layout>
  <flk-spinner *if="this.isLoading"></flk-spinner>

  <div *else>
    <course-video-form
      *if="this.newVideo"
      (close)="this.newVideo = false"
      (save)="this.currentSection.videos.push(e)"
      [course]="this.course"
      [section]="this.currentSection"
    ></course-video-form>

    <course-video-form
      *elseif="this.updateVideo"
      (close)="this.updateVideo = false"
      (save)="this.currentSection[index] = e"
      [video]="this.currentVideo"
      [course]="this.course"
      [section]="this.currentSection"
    ></course-video-form>

    <course-coupon-form
      *if="this.newCoupon"
      (close)="this.newCoupon = false"
      (save)="this.course.coupons.push(e)"
      [course]="this.course"
    ></course-coupon-form>

    <course-coupon-form
      *elseif="this.updateCoupon"
      (close)="this.updateCoupon = false"
      (save)="this.currentCoupon[index] = e"
      [coupon]="this.currentCoupon"
      [course]="this.course"
    ></course-coupon-form>

    <else>
      <div class="d-flex">
        <h1 [html]="this.course.title"></h1>
        <section class="course-settings ml-3">
          <button class="btn btn-danger btn-sm" (click)="this.removeCourse()">
            <fa icon="trash"></fa>
          </button>
        </section>
      </div>

      <div class="simple-card p-0 m-t-1">
        <flk-accordion
          *for="let section, index of this.course.sections"
          *key="section.id"
          [heading]="section.title"
        >
          <button
            type="button"
            tooltip
            title="Edit"
            (click)="
              this.editSection = true;
              this.currentSection = section;
              this.index = index
            "
            class="btn btn-circle btn-info btn-sm"
          >
            <fa icon="edit"></fa>
          </button>
          <button
            type="button"
            tooltip
            title="Delete"
            (click)="
              this.deleteSection = true;
              this.currentSection = section;
              this.index = index
            "
            class="btn btn-circle btn-danger btn-sm"
          >
            <fa icon="trash"></fa>
          </button>
          <button
            type="button"
            (click)="this.newVideo = true; this.currentSection = section"
            class="btn btn-purple btn-circle btn-sm"
            tooltip
            title="New Video"
          >
            <fa icon="plus"></fa>
          </button>

          <hr />

          <h4 class="m-t-1">Content</h4>

          <course-section-videos-list
            [videos]="section.videos"
            (edit)="
              this.updateVideo = true;
              this.currentSection = section;
              this.currentVideo = e
            "
            (delete)="this.deleteVideo(e, section)"
          ></course-section-videos-list>
        </flk-accordion>

        <hr />

        <section class="coupons-list">
          <h2>Coupons</h2>
          <button
            type="button"
            (click)="this.newCoupon = true"
            class="btn btn-purple btn-circle btn-sm"
            tooltip
            title="New Coupon"
          >
            <fa icon="plus"></fa>
          </button>

          <ul
            *if="!Is.empty(this.course.coupons)"
            class="course-coupons-list list-unstyled"
          >
            <li
              *for="let coupon of this.course.coupons"
              class="course-coupon-item border p-1 mb-2"
            >
              <section class="d-flex justify-content-between">
                <p class="coupon-code" [html]="coupon.code"></p>
                <span class="coupon-controls d-inline-block">
                  <button
                    class="btn btn-info btn-sm btn-circle item-edit-btn"
                    (click)="
                      this.currentCoupon = coupon; this.updateCoupon = true
                    "
                  >
                    <fa icon="edit"></fa>
                  </button>
                  <button
                    class="btn btn-danger btn-sm btn-circle item-edit-btn"
                    (click)="this.removeCoupon(coupon.id)"
                  >
                    <fa icon="trash"></fa>
                  </button>
                </span>
              </section>
            </li>
          </ul>
        </section>
      </div>
    </else>
  </div>
</layout>

<course-section-form
  *if="this.newSection"
  (close)="this.newSection = false"
  (save)="this.course.sections.push(e)"
  [course]="this.course"
></course-section-form>

<course-section-form
  *if="this.editSection"
  (close)="this.editSection = false"
  (save)="this.course.sections[this.index] = e"
  [course]="this.course"
  [section]="this.currentSection"
>
</course-section-form>

<flk-alert
  *if="this.deleteSection"
  (close)="this.deleteSection = false"
  (confirm)="this.removeSection()"
></flk-alert>
