.simple-post {
    .created-at {
        font-size: 1rem;
        // font-weight: bold;
        color: #999;
        margin-left: 0.4rem;
    }

    .tags-list {
        float: right;

        .tag {
            padding: 0 0.2rem;
            background: none;
            img {   
                width: 25px;
                height: 25px;
            }
        }
    }
}
.posts-list {
    .post {
        margin-bottom: 2rem;
        @extend .simple-card;
        text-align: center;

        div {
            color: #000;
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 1rem;
        }
        img {
            height: 200px;
        }
    }
}