<layout>
    <!-- <home-latest-news></home-latest-news> -->
    <!-- Post placeholder -->
    <post-placeholder *if="this.isLoading" *for="let i = 0; i < 4; i++"></post-placeholder>
    <else>
        <section *if="this.user.isLoggedIn()" class="m-b-2" id="new-post-timeline">
            <button class="btn btn-success bold" (click)="this.addNewPost = true">
                <fa icon="plus mr-2"></fa>
                POST
            </button>
            <!-- <strong class="ml-4">Timeline</strong> -->
        </section>
        <!-- Post -->
        <!-- <post-placeholder></post-placeholder> -->
        <h1 *if="Is.empty(this.posts)" class="bold text-center">No posts yet!</h1>
        <else>
            <div class="row">
                <div *for="let post of this.posts" class="col-md-6">
                    <div class="post">
                        <img [src]="post.createdBy.image" [alt]="post.createdBy.name" class="user-image">
                        <div class="meta">
                            <a href="{{ URLS.post(post) }}" class="title" [html]="post.title"></a>
                            <div class="meta-info">
                                <span class="user-name" [html]="post.createdBy.name"></span>
                                <user-online [id]="post.createdBy.id"></user-online>
                                <flk-time-ago *if="this.lastP && this.lastP.id == post.id"
                                    [timestamp]="this.lastP.createdAt.timestamp" class="created-at"></flk-time-ago>
                                <flk-time-ago *else [timestamp]="post.createdAt.timestamp" class="created-at"></flk-time-ago>
                            </div>
                        </div>
                        <article>
                            <!-- Content -->
                            <markdown [content]="post.content.split('\n').slice(0, 10).join('\n')"></markdown>
                            <a *if="post.content.split('\n').length > 10" href="{{ URLS.post(post) }}">Continue reading</a>
                            <!-- Tags list -->
                            <section class="tags">
                                <span *for="let tag of post.tags" class="tag">
                                    <img [src]="tag.image" [alt]="tag.name" />
                                    <span [html]="'#' + tag.name"></span>
                                </span>
                            </section>
                        </article>
                    </div>                    
                </div>
            </div>
        </else>
    </else>
</layout>

<flk-message *if="this.newPostMessage" (close)="this.newPostMessage = null">
    Your post has been posted successfully and it will be previewed and posted once approved.
    <fa icon="check-circle ml-2"></fa>
</flk-message>

<new-post-modal *if="this.addNewPost" (save)="this.newPostMessage = true; this.posts.unshift(e); this.lastP = e;"
    (close)="this.addNewPost = false">
</new-post-modal>