<ul *if="!Is.empty(this.videosList)" (ready)="this.course.isAuthor && this.draggableVideos($el)"
  class="course-videos-list list-unstyled">
  <li *for="let video, index of this.videosList" *key="video.id" class="course-video-item border mb-2"
    [class]="{completed: this.course.completedVideos.includes(video.id)}"
    [tooltip]="this.course.completedVideos.includes(video.id)"
    [title]="this.course.completedVideos.includes(video.id) && 'completed'">
    <div class="d-flex justify-content-between align-items-center">

      <section class="d-flex">
        <div class="video-title" [html]="(index + 1) + ' - ' + video.title"></div>
        <div class="duration">
          <span [html]="video.durationText"></span>
        </div>
        <button *if="this.course.isAuthor && this.prop('controllable')"
          class="btn btn-info btn-sm btn-circle item-edit-btn" (click)="this.edit(video)">
          <fa icon="edit"></fa>
        </button>
        <button *if="this.course.isAuthor && this.prop('controllable')"
          class="btn btn-danger btn-sm btn-circle item-edit-btn" (click)="this.deletingVideo = video; this.videoIndex = index">
          <fa icon="trash"></fa>
        </button>
      </section>
      <div *if="video.url && (video.isFree || this.course.isAuthor || this.course.isAccessible)">
        <button *if="! this.course.completedVideos.includes(video.id)" (click)="this.markAsWatched(video)"
          class="btn btn-success btn-sm" tooltip title="Mark as watched">
          <fa icon="check-double"></fa>
        </button>
        <button (click)="this.openVideo(video)" class="btn btn-primary btn-sm" tooltip [title]="video.durationText">
          <fa icon="play"></fa>
        </button>
      </div>
      <span *else>
        <fa icon="lock"></fa>
      </span>
    </div>
    <div *if="video.description && this.course.isAccessible" class="description flex-row w-100">
      <markdown [content]="video.description"></markdown>
    </div>
  </li>
</ul>

<flk-modal *if="this.isModalOpen" (close)="this.isModalOpen = false">
  <flk-youtube-video style="width: 100%; height: 400px" [src]="this.currentVideo.url"></flk-youtube-video>
</flk-modal>

<flk-alert *if="this.deletingVideo" (close)="this.deletingVideo = false" (confirm)="this.delete(this.deletingVideo.id)"></flk-alert>