<ul *if="!Is.empty(this.videos)" class="course-videos-list list-unstyled">
  <li
    *for="let video of this.videos"
    class="course-video-item d-flex justify-content-between align-items-center border mb-2"
  >
    <section class="d-flex">
      <p
        class="video-title"
        [html]="video.title"
        tooltip
        [title]="video.description"
      ></p>
      <button class="btn btn-info btn-sm" (click)="this.edit(video)">
        <fa icon="edit"></fa>
      </button>
    </section>
    <button
      *if="video.isFree"
      (click)="this.isModalOpen = true; this.currentVideo = video"
      class="btn btn-primary btn-sm"
      tooltip
      [title]="
        String(video.duration.minutes).padStart(2, '0') +
        ':' +
        String(video.duration.seconds).padStart(2, '0')
      "
    >
      <fa icon="play"></fa>
    </button>
    <span *else>
      <fa icon="lock"></fa>
    </span>
  </li>
</ul>

<flk-modal *if="this.isModalOpen" (close)="this.isModalOpen = false">
  <flk-youtube-video
    *if="this.currentVideo.type == 'youtubeUrl'"
    style="width: 100%; height: 400px"
    [src]="this.currentVideo.url"
  ></flk-youtube-video>
</flk-modal>
