.card {
    .card-body {
        h2 {
            &.card-title {
                font-size: 2rem;
            }
        }

        .details-btn {
            position: absolute;
            bottom: 1.5rem
        }

        .isHappenning {
            font-size: 0.9rem;
            font-weight: bold;
        }
    }
}