.card {
    .card-body {
        h2 {
            &.card-title {
                font-size: 2rem;
            }
        }
        p {
            &.card-text {
                font-size: 1.6rem;
            }

            &.time-remaining {
                position: absolute;
                right: 3rem;
                top: 2rem;
            }
        }

        .details-btn {
            position: absolute;
            bottom: 2rem
        }
    }
}