<admin-table [columns]="this.crudOptions.columns" [records]="this.items" [add-heading]="this.crudOptions.heading"
    [table-heading]="this.tableHeading">
    <tr *for="let topic, index of this.items" id="{{ topic.id }}" >
        <td>{{topic.id}}</td>
        <td [html]="topic.title"></td>
        <td [html]="Boolean(topic.public)"></td>
        <td>{{ Number(topic.prize).format() }}</td>
        <td [html]="topic.sortOrder"></td>
        <td>
            <table-actions (edit)="this.editItem(topic)" (delete)="this.deleteItem(topic.id, index)"></table-actions>
        </td>
    </tr>
</admin-table>
<flk-modal *if="this.openModal" [modal-header]="this.crudOptions.heading" (close)="this.closeModal();">
    <form (submit)="this.submit($el)">
        <input type="hidden" name="trackId" [value]="this.trackId" />
        <div class="form-group">
          <form-input required type="text" label="Title" [value]="this.formObject.title" (input)="this.formObject.slug = seo($el.value);" placeholder="Track name" class="form-control"
            name="title"></form-input>
        </div>
        <div class="form-group">
          <form-input required type="text" label="Slug" [value]="this.formObject.slug" placeholder="Url slug" class="form-control"
            name="slug"></form-input>
        </div>
        <div class="form-group">
            <textarea [value]="this.formObject.shortDescription" class="form-control"
                placeholder="Write a short description" name="shortDescription" rows="4"></textarea>
        </div>
        <div class="form-group">
            <textarea rows="6" error-msg-class="alert alert-danger" required name="quest"
                [value]="this.formObject.quest" placeholder="Quest" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <form-input class="form-control" required placeholder="Prize" type="number" name="prize"
                        [value]="this.formObject.prize"></form-input>
                </div>
                <div class="col-md-4">
                    <form-input type="number" name="sortOrder" [value]="this.formObject.sortOrder"
                        placeholder="Sort order" class="form-control"></form-input>
                </div>
                <div class="col-md-2">
                    <flk-checkbox name="display" label="display topic" value="1"
                        (change)="this.formObject.display = ! this.formObject.display" [checked]="this.formObject.display">
                    </flk-checkbox>
                </div>
                <div class="col-md-2">
                    <flk-checkbox name="public" label="Public topic" value="1"
                        (change)="this.formObject.public = ! this.formObject.public" [checked]="this.formObject.public">
                    </flk-checkbox>
                </div>
            </div>
        </div>
        <div class="form-btns d-flex justify-content-end">
            <button class="btn btn-primary" trans="save" [disabled]="!this.isValidForm || this.submitting"></button>
        </div>
    </form>
</flk-modal>