.json-api-route {
    .expanded {
        .accordion-heading {
            background: #FFF;
        }
    }
    .request-heading {
        .method {
            font-size: 1.3rem;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
        }
    }
}