<project-layout *as="projectLayout" [project]="this.project" [is-loading]="this.isLoading">
    <button class="float-right btn btn-success bold" (click)="this.openModal('add', {status: 'active'})">
        <fa icon="plus mr-1"></fa>
        Bug
    </button>
    <h1 class="m-y-1 teal-text">
        {{ this.project.name }}

        <img [src]="assets('images/bug.jpg')" tooltip title="Bugs"
            style="width: 20px; height: 30px; border-radius: 50%; margin-left: 0.3rem; margin-right: 0.2rem" />
        <!-- <span class="bold red-text mr-2">s</span> -->
        <!-- ({{ this.project.bugs.length }}) -->
    </h1>

    <bugs-list *as="bugsList" [project]="this.project"></bugs-list>
</project-layout>

<bug-modal *if="this.modalIsOpened" [record]="this.record" [project]="this.project" (close)="this.modalIsOpened = null;"
    (save)="this.onSubmit(e)"></bug-modal>