#register-page {
    // Picasso is ready to draw :)
    .username-help {
        margin-top: 1rem;
        // flex: 0 0 5%;
    }

    .tippy-popper .tippy-content {
        text-align: justify;
        // font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
}