<project-layout *as="projectLayout"[project]="this.project" [is-loading]="this.isLoading">
    <div class="float-right m-b-1">
        <a [href]="URLS.project(this.project, 'sprints')" class="btn bold btn-purple">
            <fa icon="arrow-left mr-2"></fa>
            Back to
            Sprints
            List
        </a>
    </div>

    <h1 class="heading" [html]="this.sprint.name"></h1>

    <div class="row m-t-3">
        <div class="col-9">
            <div class="simple-card">
                <!-- <h1>Sprint Goal</!--> 
                <markdown [content]="this.sprint.goal"></markdown>
            </div>
        </div>

        <div class="col">
            <div class="card p-1">
                <h3 class="text-center m-b-1">Sprint Details</h3>
                <div class="m-b-1">
                    <span class="mr-3">Status</span>
                    <strong [html]="this.sprint.status.capitalize()"></strong>
                </div>
                <div class="m-b-1">
                    <span class="mr-3">Starts At</span>
                    <strong [html]="this.sprint.startsAt"></strong>
                </div>
                <div class="m-b-1">
                    <span class="mr-3">Ends At</span>
                    <strong [html]="this.sprint.endsAt"></strong>
                </div>
            </div>
        </div>
    </div>
</project-layout>