.project-comments-list {

    &.child {
        padding-left: 2rem;

        .heading {
            cursor: pointer;
            color: $primary-color;
        }
    }

    .meta-comment {
        // display: inline-block;
        // width: calc(100% - 24rem);
        overflow: auto;
    }

    .closed-comments {
        background: #dfe4e6;
        padding: 1rem;
        border: 1px solid #c8d4da;
    }

    .sub-comments-heading {
        padding-left: 2rem;
        cursor: pointer;
        color: $primary-color;
    }

    .files {
        margin: 1rem 0;

        .file-input {
            margin-right: 1rem;
            vertical-align: 3px;
        }

        .audio-input,
        .file-input {
            display: inline-block;
        }

        .audio-input {
            .icon {
                font-size: 2rem;
            }
        }
    }

    .comment {
        .user-image {
            // width: 75px;
            // height: 75px;
            border-radius: 50%;
            margin-right: 0;
            border: 1px solid #ccc;
            padding: 0.2rem;
            vertical-align: top;
        }


        .comment-text {
            ul {
                padding-left: 0;
            }
        }

        .action-btns {
            button {
                color: #97b2bd;
                font-weight: bold;

                transition: all 0.4s ease-in-out;

                .icon {
                    margin-right: 0.2rem;
                }

                &:hover {
                    color: #5e808e;
                }
            }
        }

        .ago {
            color: gray;
            font-size: 1.2rem;
        }
    }
}