.course-card {
  .card-body {
    padding: 0;

    .course-image-container {
      width: 45%;
      height: 19rem;

      img {
        height: 100%;
      }
    }

    .meta {
      h2 {
        margin-top: 1rem;
      }
    }

    .created {
      font-size: 1.3rem;
    }

    .course-additional-data {
      text-align: center;

      padding-top: 1rem;
    }
  }
}
