<div class="card course-card mb-3">
  <div class="course-image-container">
    <a [href]="URLS.course(this.course)">
      <img [src]="this.course.image" [alt]="this.course.title" class="course-image" />
    </a>
  </div>
  <div class="card-body">
    <h2 class="title">
      <a [href]="URLS.course(this.course)" [html]="this.course.title"></a>
      <span *if="this.course.totalSubscriptions > 0" class="ml-2 text-muted badge green d-inline-block"> {{ this.course.totalSubscriptions }} Enrolled </span>

    </h2>
    <div>
      <small [html]="this.course.createdBy.name "></small>
    </div>
    <div class="row">
      <div class="col">
        <gold-icon [coins]="this.course.price" class="course-price"></gold-icon>
      </div>

      <div class="col-3">
        <div class="ml-2 text-muted badge pink d-inline-block"> {{ this.getTotalNumberOfCourseVideos() }} videos </div>
      </div>

      <div *if="this.course.duration" class="col">
        <div class="ml-2 mt-1 badge badge-dark d-inline-block">
          {{ this.course.duration.hours }} hours
          {{ this.course.duration.minutes }} minutes
        </div>
      </div>
    </div>

  </div>
</div>