<article class="card course-card mb-3">
  <div class="card-body row">
    <div class="d-flex col-9 course-main-content">
      <div class="course-image-container">
        <a [href]="'courses/' + this.course.id">
          <img
            [src]="this.course.image"
            [alt]="
              this.course.title
                ? this.course.title
                : 'No title specified to this course'
            "
            width="100%"
            class="course-image"
          />
        </a>
      </div>

      <div class="meta ml-3">
        <h2 class="title">
          <a
            [href]="'courses/' + this.course.id"
            [html]="this.course.title"
          ></a>
        </h2>
        <div class="created text-muted">
          <span *if="!Is.empty(this.course.createdBy)" class="by">
            By
            <span [html]="' ' + this.course.createdBy.name + ' '"></span>
            <!-- <for loop="let name of this.course.createdBy">
                </for> -->
          </span>
          <flk-time-ago
            class="at"
            [timestamp]="this.course.createdAt.timestamp"
          ></flk-time-ago>
        </div>

        <markdown
          *if="this.course.shortDescription"
          class="description mt-3"
          [content]="this.course.shortDescription"
        >
        </markdown>
      </div>
    </div>

    <section class="col-3 course-additional-data">
      <gold-icon
        *if="this.course.price"
        [coins]="this.course.price"
        class="course-price"
      ></gold-icon>

      <p class="ml-2 text-muted"> {{this.getTotalNumberOfCourseVideos()}} videos </p>
    </section>
  </div>
</article>
