<div class="dark">
    <div class="fb-page">
        <fa icon="facebook"></fa>
        <span class="">/mentoor.io</span>
    </div>
    <div class="items-heading bold text-center white-text">
        <div class="overlay"></div>
        <h1 class="heading bold text-center white-text">What Is The Difference</h1>
        <div class="m-t-1"></div>

        <div class="vs">
            <div class="challenger challenger-1"><span>Single</span> <br> Page<br> Application</div>
            <div class="versus">VS</div>
            <div class="challenger challenger-2"><span>Multi</span> <br>Page<br> Application</div>
        </div>
        
        <!-- <div class="vs triple">
            <div class="challenger challenger-1">Frontend</div>
            <div class="versus">VS</div>
            <div class="challenger challenger-2">Backend</div>
            <div class="challenger challenger-3">FullStack</div>
        </div> -->
        <div class="overlay"></div>

        <h4 class="hashtag">
            <div>#mentoor_smackdown</div>
        </h4>

        <div id="logo">
            <h1 id="m">M</h1>
            <h1 id="name" class="inline">mentoor.io</h1>
        </div>
    </div>

</div>