<layout>
    <section class="welcomeTxt mb-5">
        <h2 class=>Welcome <span class="bold mr-2 ml-2 text-capitalize d-inline-block"> {{this.user.name || ''}} </span>
            to
            Mentoor
            Application</h2>
    </section>

    <div class="row">
        <div class="col-sm-9">
            <help-what-is-mentoor></help-what-is-mentoor>
            <help-why-mentoor></help-why-mentoor>
            <help-how-it-works></help-how-it-works>
            <help-what-should-you-know></help-what-should-you-know>
            <help-where-to-start></help-where-to-start>
            <help-how-to-obtain-gold></help-how-to-obtain-gold>
            <help-what-to-buy-with-gold></help-what-to-buy-with-gold>
            <p class="bold pink-text">Please note this page could be changed anytime without prior notifications.</p>
        </div>
        <div class="col" *if="this.user.isLoggedIn()">
            <div class="simple-card text-center">
                <a href="/me" class="btn bold btn-pink">
                    <fa icon="user mr-2"></fa>
                    Update my Profile
                </a>
            </div>
        </div>
    </div>
</layout>