.navbar-brand {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1.5rem !important;
    // background-color: rgba(0, 0, 0, 0.25);
    // box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

$darkColor: #343a40;

.calendar-color {
    color: #ef70aa !important;
}

#head-logo {
    margin: 0.7rem 0.5rem 0.5rem;
    display: block;
    background-size: 100% 100%; 
    @include responsive((
        0: (
            background-image: url(../images/favicon.jpg),
            height: 20px,
            width: 30px,
            flex: 0 0 30px,
        ),
        768: (
            background-image: url(../images/logo-head.png),
            height: 40px,
            width: 150px,
            flex: 0 0 150px,
        )
    ));
}

#app-version {
    font-weight: bold;
    display: inline-block;
    font-size: 1.2rem;
    color: #456f76;
    // position: absolute;
    // New/Update label
    span {
        font-size: .9rem;
        margin-left: -3.5rem;
    }
    @include responsive((
        0: (
            margin-top: 0.8rem,
        ),
        768: (
            margin-top: 1.7rem,
        ),
        1500: (
            margin-top: 1.7rem,
        )
    ));
}

.sidebar-toggle {
    cursor: pointer;
    height: 15px;
    margin-top: 0.5rem;
    font-size: 2rem;
    .fa {
        display: block;
        width: 100%;
        height: 100%;
    }

    @include responsive((
        0: (
            right: 1rem,
            display: inline-block,
            position: absolute,   
        ),
        768: (
            position: static,
            margin-left: 1rem,
            margin-top: 1rem,
        ),
    ));
}

.project-sidebar-toggle {

    @include responsive((
        768: (
            right: 4rem,
            display: inline-block,
            position: absolute,   
        ),
    ), max);
}

.bg-dark {
    background-color: $main-color !important;
}

.new-text {
    color: #5de975 !important;
}

.update-text {
    color: #3498db !important;
}

.userCoins {
    width: 35px;
    @include responsive((768: (width:25px)), max);
}


.latest-news {
    .navbar {
        top: $latest-news-bar-size;
    }
}

@mixin updatesLabel($color) {
    background: $color;
    color: #FFF;
    font-weight: bold;  
    padding: 0 0.8rem;
    position: absolute;
    border-top-left-radius: 15px;
    font-size: 1rem;
    border-bottom-right-radius: 15px;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        margin-left: -2.5rem;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px solid $color;
    }

    @include responsive((
        0: (
            top: -1.4rem,
            margin-left: -2rem,
        ),
        600: (
            top: -0.8rem,
            margin-left: 0rem,
        ),
        1024: (
            top: -0.4rem,
            margin-left: 1rem,
        )
    ));
}

.navbar {
    .new-label {
        @include updatesLabel(red);
        top: -.7rem !important;
    }
    .update-label {
        @include updatesLabel(green);
        
        &:after {
            @include responsive((
                0: (
                    border-width: 5px,
                ),
            ));
        }
        @include responsive((
            0: (
                top: 0rem,
                margin-left: -2rem,
                font-size: 0.7rem !important,
            ),
            600: (
                top: 0.8rem,
                margin-left: 0rem,
            ),
            1024: (
                top: 0.4rem,
                margin-left: 1rem,
            )
        ));
    }
    .navbar-brand {
        display: flex;
        // justify-content: space-between;

        h1 {
            font-size: 1.7rem;
        }
    }

    .navbar-nav {
        flex-direction: row !important;
        align-items: center;

        @include responsive((767: (width: 100%, justify-content: center,
            )), max);
    }

    .form-control {
        padding: 0.75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }

    .nav-item {
        position: relative;
        padding: 2px 10px;
        @include responsive((768: (padding: 0, font-size: 1.2rem)), max);

        i {
            margin-right: 5px;
            color: $mainColor;
        }

    }

    #logout-item {
        padding-left: 0;

        a {
            padding-top: 0.1rem; // color: #ff044a;
            font-weight: bold;
        }
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            overflow: visible;
            color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: $white !important;
            }
        }
    }
}

.notifications {
    .total {
        top: -0.2rem;
    }

    .bell {
        &.empty {
            color: #888 !important;
        }
    }
}

@keyframes arrowBounce {
    0% {
        top: 3rem;
        -webkit-animation-timing-function: ease-in-out;
    }

    50% {
        top: 2rem;
    }

    100% {
        top: 1.5rem;
        // -webkit-animation-timing-function: ease-in;
    }
}

.new-spotter {
    animation: arrowBounce 1.5s;
    // transform: translateY(0px);
    animation-iteration-count: infinite;
    position: absolute;
    color: limegreen !important;
    // top: -4.8rem;
    font-size: 5rem;
    margin-left: 33%;
    text-shadow: 0px 0px 6px #999;
}

.total {
    position: absolute;
    display: inline-block;
    top: 0.9rem;
    bottom: auto !important;
    font-size: 1rem;
    right: 1.1rem;
    border-radius: 0% !important;
    @include responsive((580: (margin-top: -1rem,
        right: 0.9rem,
        font-size: 1rem,
        padding: 0.2rem 0.3rem,
        )), max);
}

.rewards {
    .total {
        margin-top: -0.7rem;
        left: 15px;
        right: auto;
    }
}

.chat-rooms-btn {
    .icon {
        color: #ff5e95 !important;
    }
}

#projects-list-dropdown {
    @include responsive((
        0: (
            // flex: 0 0 250px,
        ),
        768: (
            flex: 0 0 250px,
        )
    ));

    .select-list .heading {
        color: #FFF;
        // text-align: center;
        border: none;
        background: transparent;

        img {
            border-radius: 50%;
        }

        @include responsive((
            0: (
                padding-top: 1rem,
            ),
            768: (
                padding-top: 2rem,
            ),
        ));
    }

    .dropdown-list .items-list {
        margin-top: 1rem;

        .empty-results {
            color: #000 !important;
        }

        .list-item {
            border-bottom: 1px solid #eee !important;
        }
    }

    .select-list .items-list .list-item label img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}