<li class="panel-item" [class]="{unseen: notification.seen === false}">
    <a href="/projects/{{ notification.extra.project.id }}" (click)="this.markAsSeen(notification)">
        <img [src]="notification.extra.project.image && notification.extra.project.image != 'https://apps.mentoor.io/restful/' ? notification.extra.project.image : FAVICON"
            class="image" />
        <div class="content">
            <span *if="notification.extra.type == 'dismissed'" class="red-text bold mr-2">[DISMISSED]</span>
            <span *else class="green-text bold mr-2">[NEW]</span>
            <span [html]="notification.title"></span>
            <small class="d-block" [html]="notification.description"></small>
            <flk-time-ago [timestamp]="notification.createdAt.timestamp" class="time"></flk-time-ago>
        </div>
    </a>
    <remove-notification-btn></remove-notification-btn>
</li>