<div *if="this.user.isLoggedIn()" class="comments-list" [class]="{child: this.parentComment}">
    <h2 *if=" ! this.parentComment" class="bold m-y-2 heading" (click)="this.toggleParentComments()">
        <span>
            Comments
            <if condition="this.commentsList.length">
                ({{ this.commentsList.length }})
            </if>
        </span>
        <flk-spinner *if="this.isLoading"></flk-spinner>
    </h2>

    <div *for="let comment, index of this.commentsList" *key="comment.id" [id]="'cmnt' + comment.id"
        class="comment p-1 m-b-1"
        [class]="{mine: comment.createdBy.id == this.user.id, active: Boolean(this.activeComment && this.activeComment.id == comment.id)}">
        <span class="action-btns" *if="this.project.isHigherAuthority || comment.createdBy.id == this.user.id">
            <button type="button" *if="! this.comment || this.comment.id != comment.id"
                (click)="this.comment = comment; this.index = index; this.editMode = true; this.fileInput = null">
                <fa icon="edit"></fa>
                Edit
            </button>
            <button type="button" *elseif="this.comment && this.comment.id == comment.id"
                (click)="this.comment = null; this.editMode = false;">
                Cancel
            </button>

            <button type="button" *if="! this.comment || this.comment.id != comment.id"
                (click)="this.confirmRemoving(comment, index);">
                <fa icon="times mr-2"></fa>
                Delete
            </button>
        </span>
        <div class="w-100">
            <div (click)="this.previewBy($el, comment, 'previewUserFromImage')" class="relative d-inline-block v-top">
                <user-avatar-image [user]="comment.createdBy"></user-avatar-image>

                <user-card *if="comment.previewUserFromImage" (close)="comment.previewUserFromImage = false"
                    [user]="comment.createdBy">
                </user-card>
            </div>

            <div class="meta-comment">
                <div class="relative comment-header d-inline-block">
                    <span (click)="this.previewBy($el, comment, 'previewUserFromName')"
                        [html]="comment.createdBy.name"></span>
                    <a [href]="this.currentRoute + '?comment=' + comment.tree" tooltip class="comment-url"
                        title="Comment url">
                        <fa icon="link"></fa>
                    </a>
                    <user-card *if="comment.previewUserFromName" (close)="comment.previewUserFromName = false"
                        [user]="comment.createdBy"></user-card>
                </div>
                <div class="m-b-1">
                    <flk-time-ago class="ago" [timestamp]="comment.createdAt.timestamp"></flk-time-ago>
                </div>
                <div *if="! this.editMode">
                    <markdown class="comment-text"
                        *if="String(comment.comment).split('\n').length <= this.maxCommentLines || comment.isExpanded"
                        [content]="comment.comment"></markdown>
                    <else>
                        <markdown class="comment-text"
                            [content]="String(comment.comment).split('\n').slice(0, this.maxCommentLines).join('\n')">
                        </markdown>

                        <div>...</div>
                        <button type="button" class="bold orange-text"
                            (click)="comment.isExpanded = true; this.detectChanges();">Continue Reading...</button>
                    </else>
                </div>

                <div *if="comment.record" class="m-t-1">
                    <flk-audio-player [src]="comment.record"></flk-audio-player>
                </div>
            </div>
        </div>
        <attachments-previewer [alt]="comment.comment" [attachments]="comment.attachments"></attachments-previewer>

        <form *if="this.comment && this.comment.id == comment.id && this.editMode" class="m-t-1"
            (submit)="this.submitComment($el)">
            <input type="hidden" *if="this.parentComment" name="parent" [value]="this.parentComment.id" />
            <input *if="this.project.id" type="hidden" name="project" [value]="this.project.id" />
            <input type="hidden" name="typeId" [value]="this.typeId" />
            <input type="hidden" name="type" [value]="this.type" />
            <input type="hidden" name="id" [value]="this.commentId" />

            <markdown-input name="comment" (mention)="return this.mentions(e)" [value]="this.comment.comment"
                (change)="this.comment.comment = e" placeholder="Write a comment..."></markdown-input>
            <flk-file-input name="attachments[]" *as="fileInput" class="btn btn-info bold" [multiple]="true"
                label="Attachments">
                <fa icon="cloud-upload-alt"></fa>
                <strong class="ml-2">Attachments</strong>
            </flk-file-input>
            <record-audio-input *if="! this.isSending" *as="editRecordAudio"></record-audio-input>

            <button class="btn btn-pink bold m-t-1" [disabled]="this.isSending || ! this.isValidForm">Comment</button>
        </form>

        <!-- Children Comments -->
        <h2 *if="comment.comments" class="sub-comments-heading">
            <span (click)="this.toggleSubComment(comment)">
                <span>Replies</span>
                ({{ comment.comments.length }})
            </span>

            <button *if="Comments.writeComment === false" (click)="this.openCommentReply(comment)"
                class="btn btn btn-sm btn-gray cc">Reply</button>
        </h2>

        <comments *if="comment.commentsAreOpened" [disable-comments]="this.disableComments" [parent]="comment"
            [comments]="comment.comments" [type]="this.type" [type-id]="this.typeId" [project]="this.project">
        </comments>
    </div>

    <!-- New Comment -->
    <div *if="this.disableComments && ! this.parentComment" class="text-center bold petrol-text closed-comments">
        Comments are disabled to this post.
    </div>
    <!-- <div *elseif="this.disableComments && this.parentComment"></div> -->
    <button *elseif="Comments.writeComment === false && ! this.parentComment"
        (click)="this.detectChanges(e => Comments.writeComment = this.parentComment); this.inputs.parent.detectChanges()"
        class="btn btn btn-gray">Reply</button>
    <form *elseif="Comments.writeComment === this.parentComment" (ready)="this.scrollToForm($el)"
        (submit)="this.submitComment($el)" class="m-t-4">
        <input type="hidden" *if="this.parentComment" name="parent" [value]="this.parentComment.id" />
        <input type="hidden" name="project" [value]="this.project.id" />
        <input type="hidden" name="typeId" [value]="this.typeId" />
        <input type="hidden" name="type" [value]="this.type" />
        <!-- <form-input type="textarea" class="form-control" autofocus [value]="this.newComment"
            placeholder="Write a comment... (Markdown Support)" name="comment">
        </form-input> -->

        <markdown-input name="comment" (mention)="return this.mentions(e)" [value]="this.newComment"
            (change)="this.newComment = e" placeholder="Write a comment..."></markdown-input>

        <div class="files">
            <flk-file-input name="attachments[]" *as="fileInput" class="btn btn-info bold" [multiple]="true"
                label="Attachments">
                <fa icon="cloud-upload-alt"></fa>
                <strong class="ml-2">Attachments</strong>
            </flk-file-input>

            <record-audio-input *if="! this.isSending" (start)="this.isRecording = true"
                (record)="this.isRecording = false;" class="audio-input" *as="recordAudio"></record-audio-input>
        </div>

        <button class="btn btn-pink bold m-t-1"
            [disabled]="(! this.newComment && ! this.recordAudio.recordData && this.fileInput.fileInput.files.length == 0) || this.isSending || ! this.isValidForm || this.isRecording">Comment</button>

        <button type="button"
            (click)="this.detectChanges(e => Comments.writeComment = false); this.inputs.parent.detectChanges()"
            class="btn btn-light">Cancel</button>
    </form>
</div>


<flk-alert *if="this.confirmDelete" (close)="this.cancelRemoving()" (confirm)="this.remove()">
</flk-alert>