<a *if="FLAGS.projects" 
    href="/projects/new" 
    title="Create new project"
    class="btn float-right d-sm-inline-block bold"
    [class]="{'btn-success': this.user.hasCreatedProjectBefore === true, 'btn-pink': this.user.hasCreatedProjectBefore === false}"
>
    <fa icon="plus mr-2"></fa>
    <span *if="this.user.hasCreatedProjectBefore === false" class="mr-2">FREE</span>
    Project
    <div *if="this.user.hasCreatedProjectBefore">
        <gold-icon [coins]="FLAGS.projects.pricing.basic"></gold-icon>
    </div>
</a>