<div class="authLayout">
    <div class="auth">
        <h1 class="text-center authTitle" trans="Forgot your password!"></h1>
        <p class="text-center">Enter you email below to receive your <br> password reset instructions</p>
        <form class="authForm" id="my-form" class="card" (submit)="this.forgetPass($el)">
            <div *if="this.errorMsg" class="alert alert-danger" [html]="this.errorMsg"></div>
            <form-input type="email" name="email" autofocus placeholder="email" required class="form-control">
            </form-input>
            <button class="btn btn-primary btn-block" [disabled]="! this.isValidForm || this.isForgot">
                <span *if="!this.isForgot" trans="send"></span>
                <div *else class="text-center">
                    <fa spin="spinner fa-1x"></fa>
                </div>
            </button>
            <div class="d-flex justify-content-between authLink m-1">
                <p>
                    <a href="/login" class="mainColor ml-1">
                        <fa icon="caret-left mr-2"></fa>Back to login
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>