<admin-table [columns]="this.crudOptions.columns" [records]="this.items" [add-heading]="this.crudOptions.heading"
    [hide-add-btn]="true" [table-heading]="this.tableHeading">
    <tr *for="let record of this.items">
        <td>{{record.id}}</td>
        <td [html]="record.category.name"></td>
        <td [html]="record.title"></td>
        <td [html]="record.by.name"></td>
        <td><a trans="view" (click)="this.editItem(record)"></a></td>
    </tr>
</admin-table>
<flk-modal *if="this.openModal" [modal-header]="this.crudOptions.hading" (close)="this.closeModal();">
    <div class="row">
        <div class="col-9">
            <h1>Answer</h1>
            <markdown *if="this.formObject.answer" [content]="this.formObject.answer"></markdown>
        </div>
        <div class="col-3">
            <div class="m-v-1">
                <span>Answer by</span>
                <strong class="m-h-1" [html]="this.formObject.by.name"></strong>
            </div>
            <div class="m-v-1">
                <span>Reward</span>
                <gold-icon [coins]="this.formObject.reward"></gold-icon>
            </div>
            <h4 class="bold m-v-1">Quest</h4>
            <markdown [content]="this.formObject.quest"></markdown>
        </div>
    </div>
    <form (submit)="this.submit($el)">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <select required class="form-control" name="status" id="pepo" [value]="this.formObject.status">
                        <option *for="let type of this.answerStatus" [value]="type">{{type}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <form-input type="number" name="reward" [value]="this.formObject.reward" placeholder="reward"
                        class="form-control"></form-input>
                </div>
            </div>
        </div>
        <div class="form-group">
            <form-input type="textarea" [value]="this.formObject.comment" name="comment" placeholder="Notes"
                class="form-control"></form-input>
        </div>
        <div class="form-group">
            <flk-audio-player *if="this.recordSrc || this.formObject.recordNote"
                [src]="this.recordSrc || this.formObject.recordNote"></flk-audio-player>
            <flk-audio-recorder (record)="this.captureRecord(e)"
                (start)="this.formObject.recordNote = null;this.clearRecord()"></flk-audio-recorder>
            <button type="button" *if="this.recordData" (click)="this.clearRecord(true)"
                class="btn btn-danger btn-sm remove-record-btn" title="Remove record">
                <fa icon="trash"></fa>
            </button>
        </div>
        <div class="form-btns d-flex justify-content-end">
            <button class="btn btn-primary" trans="save" [disabled]="!this.isValidForm || this.submitting"></button>
        </div>
    </form>
</flk-modal>