<section id="chat-rooms-panel">
    <!-- Chat rooms panel -->
    <if condition="this.chatRoomsAreOpened">
        <div animate="fadeIn" speed="fast" class="animate" id="chat-rooms-wrapper">
            <div id="chat-room-body">
                <button type="button" class="close-btn" title="Close" (click)="this.close()">
                    <fa icon="times"></fa>
                </button>
                <flk-spinner *if="this.isLoading"></flk-spinner>
                <div *else class="row" id="panel-container">
                    <!-- Rooms list -->
                    <div class="col-12 col-lg-3" [class]="{opened: this.openRoomsList}" id="rooms-list">
                        <div id="heading">
                            <img [src]="FAVICON" id="logo" [alt]="trans('site-name')" />
                            <h3 id="heading-text" (click)="this.navigateToChatRoomsPage()">Chat rooms list</h3>
                            <button type="button" class="d-sm-none close-btn" title="Close"
                                (click)="this.openRoomsList = false;">
                                <fa icon="times"></fa>
                            </button>
                        </div>
                        <button *for="let room of this.chatRooms" (click)="this.openRoom(room)"
                            [class]="{active: this.openedRoom && this.openedRoom.id == room.id}" class="room-btn"
                            type="button">
                            <img [src]="room.image || FAVICON" class="image" />
                            <span class="name" [html]="room.name"></span>
                            <span *if="this.user.unseenRoomsNotifications.rooms[room.id] > 0"
                                class="badge badge-success unseen"
                                [html]="this.user.unseenRoomsNotifications.rooms[room.id]"></span>
                        </button>
                    </div>
                    <!-- Chat body -->
                    <div *if="this.openedRoom" class="content-container col-12 col-lg-9">
                        <div class="chat-body">
                            <section class="head">
                                <button type="button" (click)="this.openRoomsList = true" class="toggle-btn d-sm-none">
                                    <fa icon="bars"></fa>
                                </button>
                                <img [src]="this.openedRoom.image || FAVICON" class="image"
                                    [alt]="this.openedRoom.name" />
                                <div class="d-inline-block m-l-2" [html]="this.openedRoom.name"></div>
                            </section>
                            <div *if="this.isLoadingMessages" class="text-center w-100 m-t-10">
                                <flk-spinner></flk-spinner>
                            </div>
                            <else>
                                <div (ready)="this.messagesList = $el; this.scrollToLastMessage();"
                                    (click)="this.clearUnseenNotifications()" class="messages-list">
                                    <for loop="let message of this.openedRoom.messages">
                                        <div class="system-message" *if="message.sender.id == 0 || message.system">
                                            <span class="message" [html]="message.message"></span>
                                            <flk-time-ago [timestamp]="message.createdAt.timestamp"></flk-time-ago>
                                            <!-- <span class="created-at" [html]="this.formatDate(message.createdAt)">
                                            </span> -->
                                        </div>
                                        <div *else class="room-message" [title]="message.createdAt.format"
                                            [class]="{sender: this.user.id == message.sender.id}">
                                            <div class="user">
                                                <user-avatar-image [user]="message.sender"></user-avatar-image>
                                                <div class="info">
                                                    <div class="u-name d-inline-block" [html]="message.sender.name">
                                                    </div>
                                                    <user-online [id]="message.sender.id"></user-online>
                                                </div>
                                            </div>
                                            <div class="message-body">
                                                <p class="message-content"
                                                    [class]="{ar: message.message.startsWithArabic()}">
                                                    <markdown [content]="message.message"></markdown>
                                                </p>
                                                <!-- <div class="created-at" [html]="this.formatDate(message.createdAt)">
                                                </div> -->
                                                <flk-time-ago class="gray-text created-at" [timestamp]="message.createdAt.timestamp"></flk-time-ago>
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                    </for>
                                </div>
                            </else>
                        </div>
                        <div class="message-input-wrapper">
                            <user-avatar-image position="top" [user]="this.user.info"></user-avatar-image>
                            <form-input autofocus [class]="{ar: !!this.writingIsArabic}"
                                (click)="this.clearUnseenNotifications()" [value]="this.input" type="textarea"
                                (input)="this.writingIsArabic = $el.value.startsWithArabic()"
                                (keydown)="this.sendMessage($el, event)" [value]="this.comment"
                                placeholder="Send a message... (markdown)" class="message-input">
                            </form-input>
                        </div>
                    </div>

                    <div *else class="content-container col-12 col-lg-9">
                        <section class="head">
                            <button type="button" (click)="this.openRoomsList = true" class="toggle-btn d-sm-none">
                                <fa icon="bars"></fa>
                            </button>
                            <img [src]="FAVICON" class="image" [alt]="trans('site-name')" />
                            <div class="d-inline-block m-l-1" trans="site-name"></div>
                        </section>
                        <h1 class="welcome-msg">
                            <div>Welcome to chat rooms</div>
                            <div>Click on any chat room on the left to open.</div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </if>
    <!-- Chat rooms opener -->
    <button type="button" (click)="this.openChatRooms()" id="messenger-btn">
        <span *if="this.user.unseenRoomsNotifications.total > 0"
            [title]="this.user.unseenRoomsNotifications.total == 1 ? 'You have new message' : this.user.unseenRoomsNotifications.total + ' new messages'"
            class="badge badge-danger unseen" [html]="this.user.unseenRoomsNotifications.total"></span>
        <fa fab="facebook-messenger"></fa>
    </button>
</section>