<div class="authLayout">
    <div class="auth">
        <h1 class="text-center authTitle" trans="Reset password!"></h1>
        <p class="text-center">Enter the code and new password</p>
        <p class="text-center bold">Please check your spam/junk folder if the email didn't reach in your mail inbox.</p>
        <form class="authForm" id="my-form" class="card" (submit)="this.resetPass($el)">
            <div *if="this.errorMsg" class="alert alert-danger" [html]="this.errorMsg"></div>
            <form-input type="email" [value]="this.email" name="email" readonly placeholder="email" class="form-control">
            </form-input>
            <form-input type="text" name="code" placeholder="Code" required class="form-control">
            </form-input>
            <form-input type="password" name="password" minlength="8" placeholder="New password" required class="form-control">
            </form-input>
            <form-input type="password" match="password" name="confirmPassword" placeholder="Confirm new password" required class="form-control">
            </form-input>
            <button class="btn btn-primary btn-block" [disabled]="! this.isValidForm || this.isReset">
                <span *if="!this.isForgot" trans="reset"></span>
                <div *else class="text-center">
                    <fa spin="spinner fa-1x"></fa>
                </div>
            </button>
            <div class="d-flex justify-content-between authLink m-1">
                <p>
                    <a href="/login" class="mainColor ml-1">
                        <fa icon="caret-left mr-2"></fa>
                        Back to login
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>