.tasks-list-filter {
    .filter-container {
        .filter-list {
            margin-top: 1rem;
            // max-height: 150px;
            // overflow: auto;
            padding-left: 2rem;
            border: 1px solid #eee;
        }
    }
}