<flk-modal
  (close)="this.event('close')()"
  [heading]="this.coupon.id ? 'Edit Coupon ' + this.coupon.code: 'Add a new coupon'"
  size="small"
  *as="modal"
>
  <form (submit)="this.submit($el)">
    <input type="hidden" name="course" [value]="this.course.id" />

    <form-input
      type="text"
      name="code"
      [value]="this.coupon.code"
      class="form-control"
      [required]="true"
      label="Coupon Code"
    ></form-input>

    <form-input
      type="number"
      name="discount"
      min="0"
      max="100"
      class="form-control"
      [required]="true"
      [value]="this.coupon.discount"
      label="Discount (Percentage)"
      placeholder="e.g: 15"
    ></form-input>

    <input type="hidden" name="startsAt" [value]="this.coupon.startsAt.format" />
    <input type="hidden" name="endsAt" [value]="this.coupon.endsAt.format" />
    <flk-datepicker
      [required]="true"
      class="form-control"
      mode="range"
      [date-time]="true"
      placement="above"
      [min-date]="this.coupon.startsAt.format"
      [max-date]="this.coupon.endsAt.format"
      required
      label="Coupon Active Duration"
      placeholder="Coupon Active Duration"
      (select)="this.coupon.startsAt.format = e[0]; this.coupon.endsAt.format = e[1]"
    >
    </flk-datepicker>

    <div class="m-t-1">

      <flk-dropdown-list
      name="type"
      [items]="['primary', 'individual']"
      [value]="this.coupon.type"
      label="Coupon Type"
      heading="Coupon Type"
      (select)="this.coupon.type = e.value"
      [required]="true"
    ></flk-dropdown-list>

    </div>

    <div *if="this.coupon.type === 'individual'" class="m-t-1">
      <flk-dropdown-list
        [remote-search]="true"
        query="username"
        [lazy-loading]="true"
        label="Please Enter username"
        heading="User"
        [service]="this.usersService"
        [value]="this.coupon.user?.id"
        required
        name="user"
      >
      </flk-dropdown-list>      
    </div>

    <div class="m-t-1">
      <button
        [disabled]="this.isSending"
        class="coupon-submit-btn btn bold btn-primary"
      >
        Save
      </button>
    </div>
  </form>
</flk-modal>
