.track-card {
    position: relative;
    .top-right {
        position: absolute;
        top: -1rem;
        right: 0;
    }

    .lock-icon {
        font-size: 2rem;
    }
    .card {
        margin-top: 1.5rem;
        height: 400px;
    
        .imgTrack {
            height: 200px;
            width: 100%;
            margin: 20px 0;
            object-fit: contain;
        }
    
    
        transition-delay: .35s !important;
    
        &:hover {
            .trackInfo {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                transition: .3s ease;
                height: 100%;
                max-height: 100%;
            }
    
            .trackInfoDescription {
                overflow-y: scroll;
                max-height: 200px;
            }
        }
    
        .trackStatus {
            position: absolute;
            top: 0;
            border-radius: 0;
        }
    
        .trackInfoTitle {
            a {
                color: $secondColor;
                display: block;
    
                h4 {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 600;
                    margin: 0 0 15px;
                    height: 3.9rem;
                }
            }
        }
    
        .trackInfo {
            position: absolute;
            top: 0;
            left: -50px;
            right: -50px;
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 10px 30px 11px rgba(0, 0, 0, .25);
            visibility: hidden;
            opacity: 0;
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            z-index: 100;
            transition: none;
    
            .trackInfoMeta {
                font-weight: bold;
    
                .trackSingleMeta {
                    i {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}
