<section class="font-weight-normal m-b-2">
    <h3 class="bold m-b-1">What is mentoor</h3>

    <p>Mentoor mainly focuses on sharing knowledge between participants.</p>
    <p>The application has tracks list, but with a different approach than other tracks.</p>
    <p>Instead of one person creates a track with certain topics, all users can write in that topic so more knowledge
        is acquired.</p>
    <p>For full details in depth, have a look at the following guide video.</p>
    <!-- <flk-youtube-video width="560" height="315" [src]="'https://www.youtube.com/embed/6u9rozGAeDg'"></flk-youtube-video> -->
    <flk-youtube-video width="560" height="315" [src]="'https://www.youtube.com/embed/hwR9yZfZ70k'"></flk-youtube-video>
        
</section>