<section class="checklists-wrapper">
    <h3>
        Checklists ({{ this.task.checklists.length }})

        <button type="button" *if="! this.addChecklistForm" (click)="this.addNewChecklist()"
            class="btn btn-sm btn-circle btn-success" tooltip title="New Checklist">
            <fa icon="plus"></fa>
        </button>

        <button type="button" *else (click)="this.addChecklistForm = false" class="btn btn-sm btn-circle btn-danger"
            tooltip title="Close">
            <fa icon="times"></fa>
        </button>

        <form *if="this.addChecklistForm" class="m-t-2" (submit)="this.submitChecklist($el)">
            <div class="row">
                <input type="hidden" name="task" [value]="this.task.id" />
                <input type="hidden" name="sortOrder" [value]="this.task.checklists.length" />
                <div class="col-sm-4">
                    <form-input type="text" name="name" class="form-control" label="Checklist Name"
                        [value]="this.checklistName" required></form-input>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div *for="let item, index of this.items" class="row m-0">
                        <form-input type="text" required name="items[]" [value]="this.items[index]"
                            class="form-control col-sm-10" placeholder="Checklist Item"></form-input>
                        <div class="col mt-2">
                            <button type="button" (click)="this.unsetArrayIndex('items', index)"
                                class="btn btn-sm btn-circle btn-danger" tooltip title="Remove Item">
                                <fa icon="times"></fa>
                            </button>
                        </div>
                    </div>
                    <button type="button" (click)="this.items.push('')" class="btn btn-sm btn-circle btn-info" tooltip
                        title="add New Item">
                        <fa icon="plus"></fa>
                    </button>
                </div>
            </div>

            <button class="btn btn-sm btn-primary bold" [disabled]="this.isSending || ! this.isValidForm">Create
                Checklist</button>
        </form>
        <div class="row m-x-0">
            <div *for="let checklist,index of this.task.checklists" *key="checklist.id"
                class="col-sm-6 checklist m-t-2 p-0">
                <div class="bold">
                    <span [html]="checklist.name"></span>
                    ({{ checklist.items.length }})

                    <if condition="this.task.canBeModified">
                        <button *if="! this.isAddingChecklistItem" type="button"
                            (click)="this.addChecklistItem(checklist)" tooltip title="Add Item"
                            class="btn btn-sm btn-circle btn-success">
                            <fa icon="plus"></fa>
                        </button>

                        <button *elseif="this.isAddingChecklistItem && this.currentChecklist.id == checklist.id"
                            type="button" (click)="this.isAddingChecklistItem = false;" tooltip title="Remove"
                            class="btn btn-sm btn-circle btn-danger">
                            <fa icon="times"></fa>
                        </button>

                        <button
                            *if="! this.isInEditMode || this.type != 'checklist' || this.currentItem.id != checklist.id"
                            type="button" (click)="this.allowEditing(checklist, index, 'checklist')" tooltip
                            title="Edit" class="btn btn-sm btn-circle btn-cyan">
                            <fa icon="edit"></fa>
                        </button>

                        <button *else type="button" (click)="this.isInEditMode = false" tooltip title="Cancel Editing"
                            class="btn btn-sm btn-circle btn-orange">
                            <fa icon="edit"></fa>
                        </button>

                        <button type="button" (click)="this.confirmRemoving(checklist, index, 'checklist')" tooltip
                            title="Remove" class="btn btn-sm btn-circle btn-danger">
                            <fa icon="trash"></fa>
                        </button>
                    </if>

                </div>

                <form *if="this.isInEditMode && this.type == 'checklist' && this.currentItem.id == checklist.id"
                    class="m-t-2" (submit)="this.submitChecklist($el)">
                    <input type="hidden" name="task" [value]="this.task.id" />
                    <input type="hidden" name="sortOrder" [value]="this.currentItem.sortOrder" />
                    <form-input type="text" name="name" [value]="this.currentItem.name" class="form-control"
                        label="Checklist Name" [value]="this.checklistName" required></form-input>

                    <button class="btn bold btn-success bold"
                        [disabled]="this.isSending || ! this.isValidForm">Update</button>
                </form>

                <ul *elseif="! this.isInEditMode || !this.currentItem || this.currentItem.id != checklist.id"
                    class="items">
                    <li *for="let item, i of checklist.items" *key="item.id" class="item"
                        (mouseover)="this.suggestCheckItemModification(item)"
                        (mouseout)="this.unsuggestCheckItemModification()">
                        <flk-mdb-checkbox [label]="item.item" [value]="item.item"
                            (change)="this.changeItemStatus(item, $el.checked)" [checked]="item.done">
                        </flk-mdb-checkbox>
                        <button *if="this.isSuggestingItemControl && this.modifyingChecklistItem.id == item.id"
                            class="btn btn-sm btn-danger btn-circle delete-item-btn" tooltip title="Remove item"
                            (click)="this.confirmRemoving(checklist, index, 'item', item, i)">
                            <fa icon="trash"></fa>
                        </button>
                    </li>

                    <li *if="this.isAddingChecklistItem && this.currentChecklist.id == checklist.id" class="item">
                        <form (submit)="this.submitItem($el)">
                            <input type="hidden" name="task" [value]="this.task.id" />
                            <input type="hidden" name="checklist" [value]="this.currentChecklist.id" />
                            <input type="hidden" name="sortOrder" [value]="this.currentChecklist.length" />
                            <form-input type="text" name="item" class="form-control" required
                                placeholder="Checklist Item" autofocus></form-input>

                            <button class="btn btn-sm btn-primary bold"
                                [disabled]="this.isSending || ! this.isValidForm">Add Item</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </h3>
</section>

<flk-alert *if="this.isAboutToRemove" (close)="this.isAboutToRemove = null" (confirm)="this.remove()"></flk-alert>