.dropdown-list {
    .heading {
        background: #FFF;
        color: #333;
        border: 1px solid #ddd;
        text-align: #{$left};
    }

    &.opened {
        .heading {
            // background: #fbfbfb;
            border-bottom: none; 
        }
    }

    .items-list {
        margin-top: 0;
        background: #FFF;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

        .list-item {
            text-align: left;
            color: #333;
            // border-top-color: #bdc3c7 !important;
            // border-bottom-color: #7f8c8d !important;
            border: none !important;
            transition: none;

            &:hover {
                background: rgba(0, 0, 0, .04);
                // color: #FFF;
            }

            img {
                width: 30px !important;
                height: 30px !important;
                margin-right: 0.3rem;
                border-radius: 50%;
            }

            &.selected {
                font-weight: bold;
            }

            &.search-item {
                input {
                    background: #FFF;
                    border: 1px solid #f1f1f1;

                    &:focus {
                        outline: none;
                        border: 2px solid skyblue;
                    }
                }
            }
        }
    }
}