.panel-wrapper {
    // Picasso is ready to draw :)
    position: fixed;
    margin-top: 1.5rem;
    background: #FFF;
    box-shadow: 0px 0px 6px 1px #bbb9b9;
    border: 1px solid #ccc;
    width: 50rem;
    margin-left: -25rem;
    z-index: 100;

    &.dark {
        background: #333;
        color: #FFF;
        box-shadow: 0px 0px 6px 1px #999;
        border: 1px solid #222;

        .panel-item {
            color: #fff;
        }

        .no-results {
            color: #eee;
        }

        .arrow-up {
            border-color: #333 #333 transparent transparent;
        }

        .separator {
            border-color: #444;
        }
    }

    &.empty {
        width: 30rem;
        margin-left: -15rem;
    }

    .arrow-up {
        position: absolute;
        display: block;
        top: 0;
        margin-left: -0.7rem;
        left: 50%;
        box-sizing: border-box;
        border: 0.7em solid black;
        border-color: #FFF #FFF transparent transparent;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.2);

        @include responsive((580: (left: 42%,
            margin-left: 0.5rem,
            border-width: 0.5rem,
            )), max);
    }

    .no-results {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-weight: bold;
        color: #999;
    }

    .list {
        max-height: 35rem;
        overflow: auto;
        padding: 0;

        @include responsive((580: (max-height: 20rem,
            )), max);
    }

    .panel-item {
        list-style: none;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        color: #777;

        border-bottom: 1px solid #eee;

        a {
            color: inherit;
            font-weight: bold;
        }

        &.unseen {
            background: #e6eafd;
        }

        .time {
            display: block;
            color: #999;
            margin-top: 0.3rem;
            font-size: 1.3rem;
        }
    }

    .separator {
        margin-top: 0;
        margin-bottom: 1rem;
        border-color: #ddd;
    }

    @include responsive((580: (margin-top: 1rem,
    margin-left: 0,
    left: -16rem,
    width: 38rem,
    )), max);
}