#resources-list {

    // Picasso is ready to draw :)
    .new-resource-wrapper {
        width: 190px;
    }

    .pinned-resources {
        margin-bottom: 6rem;

        .heading {
            font-size: 2rem;
            color: #738393;
            margin-bottom: 1rem;
        }
    }

}