<layout>
    <h1 class="m-y-1 text-center text-sm-left">
        English As A Foreigner
        <a href="/english/top-participants" id="top-participants">
            <fa icon="hand-point-right"></fa>
            Top participants
        </a>
        <button *if="this.user.id == 1" (click)="this.openModal('add')" type="button"
            class="btn btn-circle btn-success">
            <fa icon="plus"></fa>
        </button>
    </h1>
    <p>This module will help you as a <strong class="pink-text mx-2">non-native English
            person</strong> to improve yourself gradually in the language.</p>
    <p>It won't go with the regular way of learning English, but it will depend on the most
        efficient way to help you become more better listener, reader, writer and speaker as well.</p>
    <p>For the time being, this section of the application will be for <strong
            class="teal-text mx-2">Arabic</strong>people who wants to learn English.</p>
    <p class="bold">
        Topics with  
        <fa icon="sort-amount-up purple-text mx-1" tooltip title="Incremental Cost"></fa>
        Incremental cost flag, will start with free gold and increase accordingly whenever the topic gets more new words.
    </p>
    <div *if="this.totalWords" class="text-center">
        <h2 class="total-words">
            <flk-number-counter class="value" [number]="this.totalWords"></flk-number-counter>
            <div class="text">Words</div>
        </h2>
    </div>

    <section class="m-t-2">
        <h2 class="text-center m-b-2 bold">Topics List</h2>
        <flk-spinner *if="this.isLoading"></flk-spinner>
        <div *else class="row">
            <div class="words-sort-wrapper">
                <label class="mr-2 bold teal-text">Sort</label>
                <flk-dropdown-list class="dropdown" (select)="this.sortBy(e.value)"
                    [items]="['Chronologically', 'Alphabetically']" [searchable]="false" [value]="this.defaultSort">
                </flk-dropdown-list>
            </div>

            <div class="w-100"></div>

            <div *for="let category, index of this.categories" class="category col-sm-6 col-lg-4 px-1 m-b-1">
                <div class="simple-card">
                    <div class="row">
                        <div class="col-3 m-t-1">
                            <a [href]="URLS.english(category)">
                                <img [src]="category.image" class="image" [alt]="category.word" />
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="word">
                                <span [html]="category.word"></span>
                                <fa *if="category.incrementalCost" tooltip icon="sort-amount-up purple-text float-right"
                                    title="Incremental Cost"></fa>
                                <span *if="category?.total?.words" class="ml-2"
                                    [html]="'(' + category.total.words.format() + ')'"></span>
                                <span
                                    *if="this.user.accountType == 'admin' && category.words && category.words.filter(word => ! word.published).length > 0"
                                    class="ml-2 bold btn btn-warning"
                                    [html]="category.words.filter(word => ! word.published).length.format()"></span>
                                <!-- <span class="pronunciation teal-text"
                                    [html]="'(' + category.pronunciation + ')'"></span> -->
                            </h3>
                            <p class="description" [html]="category.description"></p>

                            <div class="ar">
                                <span [html]="category.translation.word"></span>
                                <!-- <span class="pronunciation translation pink-text bold"
                                    [html]="'(' + category.translation.pronunciation + ')'"></span> -->
                            </div>
                            <div class="ar description" [html]="category.translation.description"></div>

                            <section class="footer">
                                <div class="cost">
                                    <gold-icon color="green" *if="category.cost > 0" [coins]="category.cost"></gold-icon>
                                    <strong class="pink-text" *if="category.cost == 0">FREE!</strong>
                                </div>
                                <a *if="category.isUnlocked" [href]="URLS.english(category)"
                                    class="btn btn-success btn-sm bold float-right">DETAILS</a>

                                <button *else type="button"
                                    (click)="this.currentCategory = category; this.confirmPurchase = true"
                                    class="btn btn-sm bold float-right btn-danger">
                                    <fa icon="lock mr-2"></fa>
                                    Purchase
                                </button>
                                <button *if="this.user.accountType == 'admin'"
                                    (click)="this.currentCategory = category; this.openModal('edit', index)"
                                    class="btn btn-circle btn-purple" type="button">
                                    <fa icon="edit"></fa>
                                </button>
                            </section>
                        </div>
                    </div>
                    <!-- End of Row -->
                </div>
            </div>
        </div>
    </section>
</layout>

<word-modal *if="this.modalShouldBeOpened" [record]="this.currentCategory" (save)="this.adjustRecord(e)" type="category"
    (close)="this.modalShouldBeOpened = null"></word-modal>

<flk-alert *if="this.confirmPurchase" (close)="this.confirmPurchase = false" (confirm)="this.purchaseCategory()">
</flk-alert>