#english-page {

    // Picasso is ready to draw :)
    .category {
        display: block;
        // position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 200px;
        transition: all 1000ms cubic-bezier(0.005, 1.650, 1.000, -0.600);
        transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);

        &:hover {
            top: 0px;
            left: 0px;
            transform: rotate(0deg);            
        }

        .meta {
            display: block;
            color: #FFF;
            padding: 3rem 1rem;
            background: rgba($color: #000, $alpha: 0.6);
            height: 100%;
            position: relative;
            z-index: 100;
            &::before {
                content: '';
                width: 100%;
                height: 160px;
                position: absolute;
                left: 0;
                transition: 1s;
                top: 10%;
                background: linear-gradient(-30deg, rgba(255, 255, 255, 0)40%, rgba(255, 255, 255, 0.4)100%);                    
                
                // Triangle shape
                // top: 0%;
                // height: 200px;
                // background: linear-gradient(to bottom right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0) 50%);
            }
    
        }
        
        .free {
            color: #ffa4f0;
        }

        .simple-card {
            min-height: 150px;
        }

        .incremental-icon {
            margin-top: -1rem;
        }

        .word {
            color: #FFF;
            font-weight: normal;
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;

            .ar {
                text-align: center;
            }
        }

        .pending-words {
            position: absolute;
        }

        .footer {
            margin-top: 1rem;
            overflow: hidden;
            position: absolute;
            z-index: 1000;
            bottom: 1rem;
            right: 1rem;
        }
    }

    #top-participants {
        margin-left: 1rem;
        background: linear-gradient(95deg, rgb(250, 202, 23) 20%, rgb(255, 156, 72) 80%);
        @include color-grd();

        .icon {
            background: linear-gradient(95deg, rgb(250, 202, 23) 20%, rgb(255, 156, 72) 80%);
            @include color-grd();
        }
    }

    .total-words {
        text-align: center;
        font-size: 3rem;
        border: 4px solid $lime-color;
        display: inline-block;
        // padding: 3rem;
        width: 20rem;
        height: 20rem;
        padding-top: 5rem;
        border-radius: 50%;        
        .value {
            font-size: 5rem;
        }
    }
}

.words-sort-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    .dropdown {
        display: inline-block;

        @include responsive((
            0: (
                width: 60%,
            ),
            768: (
                width: 20%,
            ),
        ));
    }
}